<div>
  <header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    -->
   <a class="navbar-brand" href="#">Navbar</a>
   
     <!-- Toggler/collapsibe Button -->
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link" routerLink='/' routerLinkActive='active'>Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink='/about' routerLinkActive='active'>product</a>
         </li>
         <li class="nav-item">
          <a class="nav-link" routerLink='/contact' routerLinkActive='active'>technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/signin' routerLinkActive='active'>Signin</a>
        </li>
       </ul>
     </div>
   </nav>
     
    
    <!-- <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/signin">Signin</a></li>
      </ul>
    </nav> -->
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

</div>